aiofiles==0.6.0
aioredis==1.3.1
async-timeout==3.0.1
certifi==2020.12.5
chardet==3.0.4
h11==0.9.0
h2==3.2.0
hiredis==1.1.0
hpack==3.0.0
hstspreload==2020.12.22
httptools==0.1.1
httpx==0.11.1
hyperframe==5.2.0
idna==2.10
multidict==4.7.6
pytz==2021.1
rfc3986==1.4.0
sanic==20.6.3
sanic-redis==0.2.0
sanic-scheduler==1.0.7
sniffio==1.2.0
ujson==4.0.2
urllib3==1.26.4
uvloop==0.15.2
websockets==8.1
